<div class="socials">
    <div class="space_mini"></div>
    <a href="https://www.linkedin.com/in/alexandre-touchet-6902401b9/" target="_blank"><img src="pictures/linkedin.png" alt="Linkedin"></a>
    <div class="space_mini"></div>
</div>
<small><a href="other/mention_legale.txt" target="_blank">Information légal</small></a>
<h4>&copy; 2020 Touchet Alexandre</h4>