<h1 class="title">Alexandre TOUCHET</h1>
        <h2 class="title">Développeur web & web mobile</h2>
        <a href="index.html"><img loading="lazy" class="profil" src="pictures/alexandre .png" alt="Profil"></a>
        <!-- <a href="us/index.html"><img class="us" src="pictures/united-states.png" alt="us"></a>
        <a href="index.html"><img class="fr" src="pictures/france.png" alt="us"></a> -->