<div id="carousel">
  <figure id="spinner">
    <img loading="lazy" src="pictures/slider/wordpress.jpg" alt="wordpress">
    <img loading="lazy" src="pictures/slider/galerie_halloween.PNG" alt="galerie_halloween">
    <img loading="lazy" src="pictures/slider/fourmis.jpg" alt="fourmis">
    <img loading="lazy" src="pictures/slider/Alunisson.PNG" alt="Alunisson">
    <img loading="lazy" src="pictures/slider/Ancien_portfolio.PNG" alt="Ancien_portfolio">
  </figure>
</div>
<span style="float:left" class="ss-icon" onclick="galleryspin('-')">&lt;</span>
<span style="float:right" class="ss-icon" onclick="galleryspin('')">&gt;</span>